body {
    background-color: #3bceac;
}

header {
    color: #540d6e;
    padding: 10px;
    display: flex;
    justify-content: center;
}
#rules {
    
   margin: auto;
   margin-left: 350px;
   margin-right: 350px;
   padding: 10px;
   background: #0ead69;
   text-align: center;
   color: #ffd23f;
   font-family: "Source Code Pro" sans-serif;
}

#rps-choices {
    display: flex;
    justify-content: right;
    padding: 5px;
    margin-left: 300px;
    margin-right: 200px;
    margin-top: 10px;
}

input[type=radio]{
    display: none;
}
/* input[type=radio]:checked + .label {
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
} */

label:hover {
    cursor: pointer;
    font-weight: bold;

}

img {
    filter: grayscale(100%);
}

input[type=radio]:checked + img {
    border: 5px solid;
    filter: grayscale(0%);
}

#error {
    color: #ee4266;
    font-size: larger;
}

#play {
    background-color: #ee4266;
    color: white;
    border-radius: 10px;

}