input[type=radio] {
    display: hidden;
}

input[type=radio]:checked + .label {
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
}

label:hover {
    cursor: pointer;
    font-weight: bold;

}

img {
    filter: grayscale(100%);
}

input[type=radio]:checked + img {
    border: 5px solid;
    filter: grayscale(0%);
}

header {
    background-color: black;
    color: cornflowerblue;
    padding: 10px;
}
#rules {
    border: dotted yellow;
    margin-right: 650px;
    margin-left: 20px;
}

#rps-choices {
    display: flex;
    justify-content: right;
    padding: 5px;
    border: solid gray;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 40px;
}

